# Python virtual environments
venv/

# Terraform local state
*.tfstate
*.tfstate.backup
.terraform/
Need to install the following packages:
gitignore@0.7.0
Ok to proceed? (y) 
Created .gitignore file for flag type go,node,python,terraform,docker.
There is no gitignore for Go,node,python,terraform,docker
Available project types can be found by running `gitignore -types` or at https://github.com/github/gitignore
terraform_*.zip
